body{
    font: 20px ariel;
}


.navbar {
    background-color:  #EBF5FB ;
    color: #6441A5;
}
.quem-somos {
    background-color: #D6EAF8 ;
    color: #6441A5;
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #AED6F1;
    padding-bottom: 10px;
}

.nav-link{
    width: 100%;
    height: 100%;
}

.servicos {
    background-color: #85C1E9  ;
}

.bg-footer {
    background-color: black;
    color: white;

}